[pager]
  	branch = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Sam
	email = samray.tian@gmail.com
[core]
	excludesfile = ~/.gitignore_global
